*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 
body{
   background-color: #192938; 
   color: #fff;
   justify-content: center;
   align-items:center ;
   height: 100vh;
}
.header{
    position:fixed;
    top: 0;
    width: 100%;
    height: 10%;
    padding: 2rem ;
    background: rgba(0, 0,0, 0.668);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5; 
    

}
.logo{
    text-decoration: none;
    font-size: 23px;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover{
    transform: scale(1.1);

}
.logo span{
    text-shadow: 0 0 25px #00ffee;
    color: #00ffee;
}
.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;

}
.navbar:hover,
.navbar:active{
    color: #00ffee;
    border-bottom: 3px solid #00ffee;

}
.hero-section{
    text-align: center;

}
.profile-img img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid transparent;
    box-shadow: 0 0 20px #00ffee,0 0 40px #00ffee,0 0 60px #00ffee;
    transition: transform 0.3s ease-in-out;
    margin-top: 10rem;

}
.profile-img img:hover{
    transform: scale(1.1);

}
.hero-text h1{
    margin: 20px 0;
    font-size: 2.5rem;

}
.hero-text h1 span{
    color: #00ffff;

}
.hero-text p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #bbbbbb;
    
}
.buttons .btn{
    display: inline-block;
    margin: 10px;
    padding: 14px 20px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    border: 2px solid #00ffff;
    border-radius: 30px;
    transition: background-color 0.3s,transform 0.3s;
}
.buttons .btn:hover{
    background-color: #00ffff;
    color: #010f1f;
    transform: scale(1.2);

}
.social-icons{
    display: flex;
    width: 100px;
    height: 40px;
    margin-left: 32rem;

}
.social-icons a{
    display: inline-block;
    text-align: center;
    align-items: center;
    margin: 0 10px;
    border: 2px solid #00ffff;
    color: #00ffff;
    font-size: 40px;
    border-radius: 54px;



}
.social-icons .icons{
    width: 90px;
    transition: transform 0.3s;
    border: 2px solid #00ffff;


}
.social-icons .icons:hover{
    transform: scale(1.3);
}
.social-icons a:hover{
    color: #fff;
    border: 2px #3fe3f5 solid;
}
h2{
    color: rgba(255, 255, 255, 0.87);
    text-align: center;

    margin-bottom: 40px;
    margin-top: 5rem;
    font-size: 2.5rem;
}
.service-section{
    text-align: center;
    max-width: 1200px;
}
.service-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.service-card{
    background-color:#111b2b ;
    padding: 34px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 15px rgba(59, 147, 147, 0.516);
    cursor: pointer;

}
.service-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #00ffee,0 0 40px #00ffee,0 0 60px #00ffee;
}
.service-card h3{
    color: #00ffff;
    font-size: 1.5rem;

}
.service-card p{
    color: #bbb;
    font-size:1rem ;
    line-height: 1.5;
}
.about-contact-section{
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto ;
}
.about{
    flex: 1;
    text-align: left;
    
}
.about-contact img:hover{
    transform: scale(1.3);
}
.about-contact{
    display: flex;
    align-items: center;
    gap: 20px;

}
.about img{
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    border: 4px solid #00ffff;
    box-shadow: 0 0 15px rgba(0,255,255,0.2);

}
.about p{
    color:#fff;
    border: none;
    border-radius: 5px;

    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 600px;
    background-color:#192938

}
.contact{
    flex: 1;
    text-align: center;
    margin-left: -10rem;
    max-width: 1200px;

}
.contact h2{
    margin-left: 10rem;
}
.contact form{
    max-width: 100%;
    margin-left:15% ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

}
.contact input,
.contact textarea{
    width: 80%;
    padding: 15px;
    font-size: 1rem;
    border: 2px solid #00ffff;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    outline: none;
    transition: background-color 0.3s,border-color 0.3s;

}
.contact input:focus,
.contact textarea:focus{
    background-color: #111b2b;
    border-color: #00ffff;

}
.contact textarea{
    height: 150px;
    resize: none;
}
.contact button{
    margin-left: 11rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 16rem;
    padding: 15px;
    font-size: 1.1rem;
    color:#fff ;
    background-color: #00ffff;
    border: none;
    border-radius: 34px;
    cursor: pointer;
    transition:background-color 0.3s,transform 0.3s ;


}
.contact button:hover{
    background-color: #00ffee;
    transform: scale(1.3);

}
.footer{
    width: 100%;
    padding: 54px 20px;
    background-color: #111b2b;
    box-shadow: 0 0 20px rgba(0,255,255,0.2);

}
.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto ;
}
.footer-logo p{
    margin-top:10px ;
    color: #bbb;
    font-size: 1.1rem;

}
.footer-links{
    flex: 1;
    
}
.footer-links h4{
    color: #00ffee;
    font-size: 1.1rem;
    margin-bottom: 15px;

}
.footer-links ul{
    list-style: none;

}
.footer-links ul li{
    margin-bottom: 10px;


}
.footer-links ul li a{
    color:#bbb ;
    text-decoration: none;
    font-size: 1.1rem;
    transform: color 0.3s;


}
.footer-links ul li a:hover{

    color: #00ffff;

}
.footer-contact{
    flex: 1;
}
.footer-contact h4{
    color: #00ffff;
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.footer-contact p{
    color: #fff;
    font-size:1.1rem ;
}   
.footer-buttom{
    margin-top: 25px;
    text-align: center;
    border-top: 1px solid #00ffff;
    padding-top: 20px;
    width: 100%;


}
.footer-buttom p{
    color: #bbb;
    font-size: 1rem;      

}
#bars{
    font-size: 2rem;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;


}
/* @media(max-width:858px){
    #bars{
        display: block;
    }
} */





